body {
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  text-align: center;
}

h1 {
  color: #333;
}

button {
  margin: 10px;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
}

#reasonDisplay {
  font-size: 24px;
  font-weight: bold;
  padding: 20px;
  margin-bottom: 20px;
  font-size: 72px;
  font-weight: 600;
  text-transform: none;
  text-align: center;
  letter-spacing: 0px;
}

#copyMessage {
  font-size: 16px;
  color: green;
  display: none;
}

